/* NEED TO DESIGN FOR MOBILE FIRST */
/* SET UP FOR MOBILE AND ADD MEDIA QUERIES TO */
/* FIX PROBLEMS OR REARRANGE AS SCREEN GETS LARGER */
/* FIX MIN-WIDTH BASED ON SCREEN SIZE SO NO */
/* HORIZONTAL SCROLL HAPPENS EXCEPT WHEN ZOOMING */

html {
        height: 100%;
}

body {
	/* background-color: lavender; */
        height: 100%;
        min-height: 100%;
	background-image: url("/images/Cover.PNG");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

h1 {
	font-size: 1.25em;
	font-weight: 900;
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
}

.pheader {
	font-size: 1.15em;
	font-weight: bold;
	margin: 0.67em 0em 0.67em 0em;
}

p {
	font-size: 1.1em;
	line-height: 1.4em;
	margin: 0em 0em 1em 0em;
}

.navwrapper {
	text-align: center;
}

@media screen and (min-width: 600px) {
	.navwrapper {
		margin: 0px 10%;
		text-align: left;
	}
}

.navul {
	display: inline-block;
  	list-style-type: none;
  	margin: 0px 0px;
  	padding: 0;
  	overflow: hidden;
	background-color: #5BABE5;
	width: 100%;
}


/* for desktop */
@media screen and (min-width: 600px) {
	.navul {
		display: inline-block;
  		list-style-type: none;
  		padding: 0;
  		overflow: hidden;
	}
}

.navli {
  	display: inline-block;
}

.nava {
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
	font-size: 1.2em;
}

/* mobile */
.title {
	display: inline-block;
	margin: 0;
}

/* desktop */
@media screen and (min-width: 600px) {
	.title {
		margin: 0 10%;
	}
}

.name {
	float: left;
	width: 50%;
	max-width: 350px;
}

/* for mobile */
.social {
	width: 25%;
	display: flex;
	float: right;
	padding: 2% 0 0 0;
}

/* for desktop */
@media screen and (min-width: 600px) {
	.social {
		width: 15%;
		display: flex;
		float: right;
		padding: 1em 0 0 0;
	}
}

.soca {
  	display: block;
  	text-align: center;
  	padding: 0px 0px;
	margin: 0 10%;
  	text-decoration: none;
}

.icon {
	width: 100%;
	height: auto;
	vertical-align: middle;
}

.img1 { flex: 1.0084; }
.img2 { flex: 1.2255; }
.img3 { flex: 0.6371; }
.img4 { flex: 1.2663; }

/* styles list on homepage */
.lipostlinks {
	margin: 1em 0;
}

/* styles the list of links on home page */
.postlinks:link {
	color: #004F99;
	text-decoration: none;
	line-height: 1.4em;
	font-size: 1.1em;
}

.postlinks:hover {
	color: inherit;
	background-color: inherit;
}

/* styles the list of links on blog page */
.postlinksblog:link {
	color: #004F99;
	text-decoration: none;
	line-height: 1em;
	font-size: 1.1em;
}

.postlinksblog:hover {
	color: inherit;
	background-color: inherit;
}

/* styles blog header links */
.headerlink:link {
	color: #004F99;
	text-decoration: none;
}

.headerlink:hover {
	color: inherit;
	background-color: inherit;
}

li a:hover {
  background-color: #5396C6;
}

.left {
	background-color: ;
	color: black;
	margin: 0px 0px;
	padding: 0px 0px;
	float: left;
	width: 100%;
	word-wrap: break-word;
}

@media screen and (min-width: 600px) {
	.left {
		width: 70%;
	}
}

/* used for home page */
.homeright {
	float: right;
	background-color: inherit;
	color: black;
	margin: 0;
	padding: 0 1% 0 1%;
	overflow: hidden;
	width: 98%;
}

@media screen and (min-width: 600px) {
	.homeright {
		float: left;
		width: 28%;
	}
}

/* used for blogs and posts mobile */
.sidebar {
	float: right;
	background-color: salmon;
	color: black;
	margin: 0;
	padding: 0px 0px;
	overflow: hidden;
	width: 100%;
}

/* used for blogs and posts desktop */
@media screen and (min-width: 600px) {
	.sidebar {
		width: 30%;
		margin: 1em 0 0 0;
	}
}

.image {
	width: 12em;
	float: right;
	margin: 0px 0px 0px 1.5em;
}

@media screen and (max-width: 350px) {
	.image {
		width: 50%;
		margin: 0px 0px 0px 5%;
	}
}

@media screen and (max-width: 700px) and (min-width: 600px) {
	.image {
		width: 50%;
		margin: 0px 0px 0px 5%;
	}
}

.description {
	overflow:hidden;
	margin: 0px;
	padding: 0% 6% 0% 1%;
}

.container {
	background-color: white;
	color: black;
	margin: 0px 0px;
	padding: 5px 0px;
	overflow: hidden;
}

/* for desktop */
@media screen and (min-width: 600px) {
	.container {
		margin: 0px 10%;
	}
}

.posts {
	list-style: none;
	padding-left: 0;
}

.posts2 {
	list-style: none;
	padding-left: 0;
	margin: 0.5em 0em 0.5em 0em;
}

/* formatting for blog posts in lists and individual */
.post {
	background-color: white;
	word-wrap: break-word;
	margin: 1em 0.25em;
	padding: 1em;
	border-style: groove;
}

@media screen and (min-width: 600px) {
	.post {
		margin: 1em 1em;
	}
}

h1.blog {
	font-size: 1.5em;
	margin: 0;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:after {
	content: "+";
	float: right;
}

.active:after {
	content: "-";
	float: right;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 0 0 5%;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.PageNavigation {
  	overflow: hidden;
	margin: 0 1em;
}

.PageNavigation a {
  	display: block;
  	width: 20%;
  	float: left;
  	margin: 1em 0;
}

.PageNavigation .next {
  	text-align: right;
	float: right;
}

.books {
	float: left;
	width: 50%;
}

.booklisting {
	
}

.workimage {
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.workimglink {
}

.bookimage {
	width: 100%;
}

.workslink {
	font-height: 2em;
}


.infinite-spinner {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #333;
  margin: 60px auto;
  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
