<div class="title">
  	<div class="name">
		<a href="https://www.ryanbeckauthor.com"><img src="/images/name.PNG" alt="Ryan Beck" style="width:100%"></a>
  	</div>	

	<div class="social">
		<div class="socblock">
			<div class="img1">
				<a href="https://www.facebook.com/ryanbeckauthor" class="soca"><img class="icon" src="/images/facebook.PNG" alt="Facebook" style="width:100%"></a>
			</div>
			<div class="img2">
				<a href="https://twitter.com/BeckRyooan" class="soca"><img class="icon" src="/images/twitter.PNG" alt="Twitter" style="width:100%"></a>
			</div>
			<div class="img3">
				<a href="https://www.goodreads.com/ryanbeckauthor" class="soca"><img class="icon" src="/images/goodreads.PNG" alt="Goodreads" style="width:100%"></a>
			</div>
			<div class="img4">
				<a href="https://mewe.com/profile/5bbfed7170fb13619fe8d9c8" class="soca"><img class="icon" src="/images/mewe.PNG" alt="MeWe" style="width:100%"></a>
			</div>
		</div>
	</div>
</div>
